<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.cpt202music.mapper.MusicFileMapper">

    <resultMap id="BaseResultMap" type="org.example.cpt202music.model.entity.MusicFile">
            <id property="id" column="id" />
            <result property="url" column="url" />
            <result property="name" column="name" />
            <result property="artist" column="artist" />
            <result property="album" column="album" />
            <result property="introduction" column="introduction" />
            <result property="category" column="category" />
            <result property="tags" column="tags" />
            <result property="fileSize" column="fileSize" />
            <result property="duration" column="duration" />
            <result property="bitRate" column="bitRate" />
            <result property="fileFormat" column="fileFormat" />
            <result property="coverUrl" column="coverUrl" />
            <result property="userId" column="userId" />
            <result property="createTime" column="createTime" />
            <result property="editTime" column="editTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,url,name,artist,album,introduction,
        category,tags,fileSize,duration,bitRate,
        fileFormat,coverId,userId,createTime,editTime,
        updateTime,isDelete
    </sql>
</mapper>
